<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_Datos.Properties.Settings.deberes_4toConnectionString"
            connectionString="Data Source=.;Initial Catalog=deberes_4to;User ID=clase4b;Password=clase4b;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.deberes_4toConnectionString1"
            connectionString="Data Source=.;Initial Catalog=deberes_4to;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>